@import '../../styles/scss/variables';

h2 {
  color: $main-color;
  font-size: $fs-15;
}

header,
footer,
section {
  padding: 0 $fs-40 0 $fs-40;
}

header {
  background-color: $secondary-color;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $fs-5;

    #perfil {
      display: flex;
      align-items: center;
    }
  }

  a {
    text-decoration: none;
    color: $main-color;
    font-size: $fs-25;

  }
}

footer {
  background-color: $secondary-color;
  font-size: $fs-20;
  text-align: center;
}

.contato {
  background-color: $secondary-color;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;

  #descricao {
    width: 50%;
  }

  div {
    font-size: $fs-30;

    .titulo {
      font-size: $fs-31;
      color: $main-color;
    }

    p {
      color: white;
    }

    #materiais-gratuitos {
      width: 70%;
    }

    #email-form {
      display: flex;
      flex-direction: column;
    }

    #email {
      -webkit-box-shadow: 14px 14px 5px -8px rgba(254, 74, 73, 1);
      -moz-box-shadow: 14px 14px 5px -8px rgba(254, 74, 73, 1);
      box-shadow: 5px 5px 2px rgba(254, 74, 73, 1);
      border-radius: 5px;
      border: none;
      width: 100%;
      margin-bottom: 10px;
    }

    #button {
      border: none;
      border-radius: 5px;
      padding: 3px;
      font-size: $fs-16;
      background-color: $main-color;
      width: 40%;
      align-self: flex-end;
      color: #681e1e;
    }
  }
}

.informacoes {
  display: flex;
  flex-direction: column;
  gap: $fs-25;
  background-color: $main-color;
  padding-top: $fs-31;
  padding-bottom: $fs-31;

  h2 {
    color: $white;
    text-align: center;
    font-size: $fs-40;
  }

  .containers-informacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .item-informacao h4 {
      font-size: $fs-30;
      letter-spacing: 1.5px;
    }

    .item-informacao p {
      max-width: $fs-300;
      font-size: $fs-18;
      word-wrap: break-word;
    }

    .item-informacao {
      display: flex;
      flex-direction: column;
      gap: 2px;
      color: $white;
    }

    .item-img {
      display: flex;
      justify-content: center;
      width: $fs-95;
      height: $fs-85;
      background-color: $white;
      border-radius: 8px;
    }

    .item-img img {
      width: $fs-45;
    }
  }
}

@media (max-width: 768px) {
  .contato {
    display: flex;
    flex-wrap: wrap;

    #descricao {
      width: 100%;
      text-align: justify;
      margin-bottom: 15px;
    }

    #materiais-gratuitos {
      width: 100%;
    }
  }
}