@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;900&display=swap');

$main-color: #FE4A49;
$secondary-color: #232323;
$white: #FFF;

$ff-inter: 'Inter', sans-serif;
$ff-questrial: 'Questrial', sans-serif;

$fs-60: 6.0rem;
$fs-50: 5.0rem;
$fs-30: 3.0rem;
$fs-20: 2rem;

$fw-400: 400;
$fw-600: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;